<div class="container bg-light py-5">
  <h1 class="display-5 fw-bold">Welcome to the Quiz!!</h1>
  <p class="ol0md-8 fs-4">This quiz will contain total 9 questions. Each question hold 10 Points</p>
  <h4>Rules:</h4>
  <ol>
    <li>Correct Question gives you 10 points</li>
    <li>InCorrect Question gives you -10 points</li>
    <li>You will have 60 sec to answer these Question</li>
    <li>Refreshing the page will reset the quiz</li>
  </ol>
  <h1 style="font-family:cursive;text-align:center">All the Best!!</h1>
  <div class="name col-md-4 my-3">
    <label>Enter Your name:</label>
    <input #name type="text" class="form-control">
  </div>
  <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()"> Start the Quiz!!</button>
</div>
